* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    height: 100vh;
    background-color: #eee;
}

.title {
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    color: #555;
    margin-bottom: 2rem;
}

:root {
    --O-color: #2196f3;
    --X-color: #f44336;
    --E-color: #777;
    --button: #4caf50;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 160px);
    gap: 1rem;
}

.board.game-over {
    opacity: 0.8;
}

.cell {
    display: grid;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;

    cursor: pointer;
}

.cell:not(.O):not(.X):hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.4);
}

.cell.O,
.cell.X,
.game-over .cell {
    cursor: not-allowed;
}

.cell.O {
    background-color: var(--O-color);
}

.cell.X {
    background-color: var(--X-color);
}

footer {
    text-align: center;
}

.winner-message {
    margin: 2rem;
}

.winner-message span.O {
    color: var(--O-color);
}

.winner-message span.X {
    color: var(--X-color);
}

.winner-message span.E {
    color: var(--E-color);
}

button {
    margin: 1rem;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.6);
    background-color: var(--button);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.footer {
    color: #555;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li a {
    padding: 1em;
    margin: 0 1em;
    transition: 0.5s;
    color: #555;
}

.social_list li a:hover {
    font-size: 20px;
    color: #555;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #555;
}
